*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
local-config.php
prod-config.php
assets/*
wrk/uploads/
wrk/blogs.dir/
wrk/upgrade/
wrk/backup-db/
wrk/advanced-cache.php
wrk/wp-cache-config.php
wrk/cache/*
wrk/cache/supercache/*
wrk/cache/
wrk/backups/
*.log
sitemap.xml
sitemap.xml.gz